p {
    text-align:justify;
    font-size: 1em;
}

h2{
    font-size: 2em;
}

.header {
    justify-content:center;
    color: white;
    text-align: center;
    position: fixed;
    width: 30%;
    height: 100%;
    padding: 80px 75px 50px 75px;
    background: #222;
    background-image: url("headerPic.png");
    background-repeat:no-repeat;
    background-size: 100%;
}

.header p{
    text-align:center;
}

.profilePicture {
    margin-bottom: 25px;
    min-width:100px;
    max-width:400px;
}

.logo{
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    width:2.5rem;
}

.main-body{
    float:right;
    width:70%;
    padding:125px;
}

.main-body h1{
    margin-bottom:40px;
}

.main-body p{
    margin-bottom:40px;
}

@media all and (max-width:992px)
{
    p {
        font-size: 35px;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 60px;
    }
}

@media all and (max-width:1300px), (max-aspect-ratio:16/9), (min-aspect-ratio:20/9)
{
    .header {
        padding-top:45px;
        position: static;
        height: auto;
        min-height: 35vh;
        max-height: 200vh;
        width: auto;
        display: flex;
    }

    .logo{
        width: 6em;
    }

    .main-body{
        float:inherit;
        width: auto;
    }
}