a:hover{
    color:#ccc;
}

body {
    background-color: rgb(245, 245, 245);
    color: #666;
}

p {
    text-align:justify;
    font-size: 1em;
}

h2{
    font-size: 2em;
}

.header {
    justify-content:center;
    color: white;
    text-align: center;
    position: fixed;
    width: 30%;
    height: 100%;
    padding: 40px 75px 0px 75px;
    background: #222;
    background-image: url("headerPic.png");
    background-repeat:no-repeat;
    background-size: 100%;
}

.contact{
    color: inherit;
    text-decoration:inherit;
    font-size:0.95em;
    margin-top:25px;
}

.header p{
    text-align:center;
}

/*Header Picture animation*/

.profilePicture {
    margin-bottom: 25px;
    min-width: 100px;
    max-width: 400px;
    transition-property: transform;
    transition-duration:0.15s;
}

    .profilePicture:hover {
        transform: scale(1.05);
    }

.logo {
    width: 40px;
    transition-property: transform;
    transition-duration: 0.15s;
}

    .logo:hover {
        transform: scale(1.15);
    }

.main-body{
    text-align:center;
    float:right;
    width:70%;
    padding:125px 125px 0px 125px;
}

.main-body h1{
    margin-bottom:40px;
}

.main-body h4{
    margin-top:35px;
    margin-bottom:25px;
}

#intro{
    margin-bottom:40px;
}

.video{
    width:600px;
    height:350px;
}

.projects{
    text-align:left;
}

.noPadding{
    padding:0px;
}

.projectItem {
    box-sizing: border-box;
    margin: 0px 20px 40px 20px;
}

.projectItem p{
    margin:0;
}

.projectItemImage {
    position: relative;
    box-sizing: border-box;
    margin: 0px 20px 0px 20px;
}

    .projectItemImage:hover img {
        transform: scale(1.05);
        opacity:0;
    }

    .projectItemImage:hover .projectOverlay {
        opacity: 0.5;
        transform: scale(1.05);
    }

.projectOverlay {
    background-color: #000;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition-property: opacity, transform;
    transition-duration: 0.2s;
}


.projectImage {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    transition-property: transform, opacity;
    transition-duration: 0.2s;
}

.projectView {
    color:white;
    font-size:large;
    border:solid;
    padding: 5px 15px 5px 15px;
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

@media all and (max-width:992px)
{
    p {
        font-size: 35px;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 60px;
    }
    h4{
        font-size: 40px;
    }
    .contact{
        font-size: 27.5px;
    }
}

@media all and (max-height:600px), (max-aspect-ratio:16/9)
{
    .header {
        padding-top:45px;
        position: static;
        height: auto;
        min-height: 35vh;
        max-height: 300vh;
        width: auto;
        display: flex;
    }

    .logo{
        width: 6em;
    }

    .main-body{
        float:inherit;
        width: auto;
    }
}
